body {
}

input[type="radio"]:disabled {
    color: white;
}

#transparentBG {
    fill: rgba(255,255,255,0.4);
}

#drawingWindow {
    stroke: black;
}

.white {
    color: white;
}

.title-text {
    text-align: center;
    font-size: 1.5em;
}


.game {
    display: inline-block;
    position: relative;
}

.menu-layers {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 100%;
    font-size: 1.4em;
    border-left: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.4);
}

.menu {
    flex: auto;
    display: block;
    z-index: 12;
    background-color: rgba(0,0,0,0.2);
    overflow: scroll;
    padding: 10px;
}

    .menu::-webkit-scrollbar {
        display: none;
    }

.element {
    position: relative;
    z-index: 13;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 1px;
    width: 250px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

    .element p {
        margin-bottom: 10px;
    }

    .element .element-image {
        margin-bottom: 10px;
    }

    .element .element-title {
        margin-bottom: 10px;
    }

    .element .button {
        margin-bottom: 10px;
    }

    .element input {
        margin-bottom: 10px;
    }

    .element video {
        height: 250px;
        width: 100%;
    }

    .element:hover:after {
        display: none;
        bottom: auto;
        content: attr(data-title); /* Выводим текст */
        position: absolute; /* Абсолютное позиционирование */
        right: 0px;
        z-index: 99; /* Отображаем подсказку поверх других элементов */
        background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
        font-family: Arial, sans-serif; /* Гарнитура шрифта */
        font-size: 0.8em; /* Размер текста подсказки */
        padding: 5px; /* Поля */
        border: 1px solid #333; /* Параметры рамки */
        overflow: auto;
    }

.element-image {
    height: 80px;
}

    .element-image img {
        height: 100%;
    }

img.categories {
    border-radius: 50%;
}

.element-title {
    color: rgb(10,10,10);
    border-radius: 0 0 25px 25px;
    text-shadow: 5px;
    text-align: center;
}

.element-std {
    z-index: 13;
    max-width: 250px;
    max-height: 50px;
    background-color: rgba(255,255,255,0.6);
}

    .element-std img {
        background-size: cover;
        width: 50px;
    }

.video_controls-button {
    position: absolute;
    top: 50%;
    background-color: rgba(255,255,255,0.4);
    width: 15%;
    height: 25%;
    z-index: 99;
    transform: translate(0,-50%);
    visibility: hidden;
}

.button {
    z-index: 13;
    display: block;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

    .button img {
        height: 100%;
    }

svg {
    display: block;
    background: url(../background/svgBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.open_close {
    position: absolute;
    z-index: 20;
    background-color: rgba(255,255,255,0.6);
}

    .open_close img {
        width: 50px;
    }

.window_resizing {
    position: absolute;
    z-index: 20;
    width: 25px;
    height: 25px;
    background-color: rgba(255,255,255,0.6);
}

    .window_resizing img {
        width: 25px;
    }

.blur {
    position: absolute;
    z-index: 11;
    width: 300px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../background/svgBG.jpg);
    -o-filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    overflow: hidden;
}

polyline {
    fill: rgba(50, 200, 50, 0.5);
    stroke-width: 0.3px;
}




<!-- ВАЖНОЕ -->
.hide {
    visibility: hidden;
}

.display-none {
    display: none;
}

<!-- анимация -->
